body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 50px;
}

h2 {
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 25px;
    width: 300px;
    margin: auto;
    border-radius: 5px;
}

input {
    width: 90%;
    padding: 8px;
}

button {
    padding: 8px 20px;
    background-color: #3897f0;
    color: white;
    border: none;
    cursor: pointer;
}

button: hover {
    background-color: #2f7fd6;
}

a {
    text-decoration: none;
    color:#3897f0
}